---
BasedOnStyle: Google

AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Never
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 120
IndentPPDirectives: AfterHash
AlignConsecutiveMacros: true
